/* styles form controls according to the state of the form */

form.submitted input.ng-invalid, input.ng-dirty.ng-invalid {
  border: 1px solid red;
}

input.ng-dirty.ng-valid.ng-touched {
 border: 1px solid black;
}

.container {
  margin-bottom: 1rem;
}
