<h4 class="pb-3">Универсальные компоненты для ваших Angular приложений!</h4>
<div>
  В этом приложении будут собраны различные способы создания полезных компонентов и директив. Они полностью инкапсулированы и настраиваемы, и могут быть легко и быстро использованы в ваших Angular приложениях.
</div>
<div class="container my-2">
  <div class="row">
    <div class="col-12 p-0">
      <a class="nav-link p-0" routerLink="/login/form" routerLinkActive="active-link">Error messages</a>
      - универсальный способ показа сообщений об ошибках валидации для реактивных форм, предложенный Netanel Basal
      в статье "Make Your Angular Form’s Error Messages Magically Appear".
      <a href="https://netbasal.com/make-your-angular-forms-error-messages-magically-appear-1e32350b7fa5" target="_blank">Читать статью...</a>
    </div>
  </div>
</div>
